<div class="ruby_cms-page-header ruby_cms-content-blocks-edit-header">
  <div class="ruby_cms-page-header__content">
    <div class="ruby_cms-page-header__title-group">
      <h1 class="ruby_cms-page-title">Edit content block</h1>
    </div>

    <div class="ruby_cms-page-header__action-icons">
      <%= link_to "Cancel",
                  ruby_cms_admin_content_block_path(@content_block),
                  class: "ruby_cms-pelican-button ruby_cms-pelican-button--ghost" %>

      <button type="submit"
              form="content-block-form"
              class="ruby_cms-pelican-button ruby_cms-pelican-button--primary">
        Save
      </button>
    </div>
  </div>
</div>

<div class="ruby_cms-pelican-card">
  <%= render "form" %>
</div>
