<div class="ruby_cms-analytics__security-alert">
  <span class="ruby_cms-analytics__security-alert-icon" aria-hidden="true">⚠</span>
  <span class="ruby_cms-analytics__security-alert-text"><%= t("ruby_cms.admin.analytics.security_alert", default: "Security alert") %></span>
</div>
